<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="row">
    <div class="col-md-1"></div>
	<div class="col-md-10">
		<div id="postlist">
            {% for post in latest_posts %}
        <div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3 class="pull-left">{{ post.header }}</h3>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="pull-right">
                                <small><em>{{ post.pub_date }}</em></small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="panel-body">
                {% if post.image_link %}
                <div class="thumbnail">
                    <img alt="Image" src={{ post.image_link }}>
                </div>
                {% endif %}
                {{ post.content_text }}
            </div>

            <div class="panel-footer">
                {% for tag in post.tags %}
                    <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
            {% endfor %}
    </div>
{#		<div class="text-center"><button id="loadmore" onclick="loadMore()" class="btn btn-primary">Older Posts...</button></div>#}
</div>
	<div class="col-md-1"></div>
	<div class="col-md-3">
	</div>
	<div class="col-md-1">
	</div>
</div>
</div>

{#<script>#}
{#    function loadMore() {#}
{#  var xhttp = new XMLHttpRequest();#}
{#  xhttp.onreadystatechange = function() {#}
{#    if (this.readyState == 4 && this.status == 200) {#}
{#     document.getElementById("postlist").innerHTML += this.responseText;#}
{#    }#}
{#  };#}
{#  xhttp.open("POST", 'data');#}
  {#xhttp.send(document.getElementById('postlist').childElementCount);#}
{#        xhttp.send("Yeah");#}
{#}#}
{#</script>#}